/* line 5, style.scss */
html, body {
  margin: 0;
}

/* line 8, style.scss */
#colorPicker {
  box-shadow: -5px 5px 5px rgba(87, 113, 126, 0.5);
}

/* line 11, style.scss */
#rWidth {
  box-shadow: -5px 5px 5px rgba(87, 113, 126, 0.5);
}

/* line 14, style.scss */
#rHeight {
  box-shadow: -5px 5px 5px rgba(87, 113, 126, 0.5);
}

/* line 17, style.scss */
#strokeSelector {
  box-shadow: -5px 5px 5px rgba(65, 139, 118, 0.5);
}

/* line 20, style.scss */
#blendSelector {
  box-shadow: -5px 5px 5px rgba(65, 139, 118, 0.5);
}

/* line 23, style.scss */
#joinSelector {
  box-shadow: -5px 5px 5px rgba(25, 223, 145, 0.5);
}

/* line 26, style.scss */
#capSelector {
  box-shadow: -5px 5px 5px rgba(25, 223, 145, 0.5);
}

/* line 29, style.scss */
#canvas {
  margin: 0 auto;
  border: 1px solid #999;
}

/* line 34, style.scss */
.rdimensions {
  display: none !important;
}

/* line 38, style.scss */
.colorMode input {
  -webkit-appearance: radio !important;
}
/* line 41, style.scss */
.colorMode #b, .colorMode #ss, .colorMode #s {
  text-shadow: -3px 3px 1px rgba(87, 113, 126, 0.5);
}

/* line 46, style.scss */
#canvasContainer, #draw {
  position: relative;
}

/* line 50, style.scss */
.wrapper {
  margin: 0 auto;
  background: -webkit-linear-gradient(305deg, rgba(87, 113, 126, 0.5), rgba(65, 139, 118, 0.5), rgba(25, 223, 145, 0.5));
  background: linear-gradient(145deg, rgba(87, 113, 126, 0.5), rgba(65, 139, 118, 0.5), rgba(25, 223, 145, 0.5));
}
/* line 54, style.scss */
.wrapper__settings {
  margin: 0 auto;
  width: 100%;
  min-width: 280px;
  max-width: 920px;
}
/* line 60, style.scss */
.wrapper__settings--item {
  display: table-cell;
}
/* line 63, style.scss */
.wrapper__settings--item input, .wrapper__settings--item select {
  margin: 5px;
  border-radius: 5px;
  vertical-align: middle;
  height: 24px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #999;
  letter-spacing: 2px;
  text-shadow: -1px 1px 2px #999;
  background-color: #eee;
  border: 0;
  padding: 0;
  outline: none;
}
/* line 78, style.scss */
.wrapper__settings--item input:hover, .wrapper__settings--item select:hover {
  box-shadow: 0 0 7px 3px #fff, 0 0 7px 2px #000;
  background: -webkit-linear-gradient(305deg, rgba(87, 113, 126, 0.5), rgba(65, 139, 118, 0.5), rgba(25, 223, 145, 0.5));
  background: linear-gradient(145deg, rgba(87, 113, 126, 0.5), rgba(65, 139, 118, 0.5), rgba(25, 223, 145, 0.5));
  background-color: #bbb;
  color: #fff;
}
/* line 87, style.scss */
.wrapper__settings--item label {
  margin: 0;
  color: #000;
  color: #fff;
  font-size: 25px;
  padding: 0;
}
/* line 95, style.scss */
.wrapper__settings--item p {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  text-shadow: -1px 1px 0 #fff, -2px 2px 0 #999;
}

/*# sourceMappingURL=style.css.map */